In [1]:
import pandas as pd

In [3]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
animales = ["tortuga", "Zorro", "Liberal", "Paloma", "Efelante"]
tipo = ["reptil","mamífero","imbécil","ave","mamífero"]
obj = pd.Series(tipo, index = animales)
obj

tortuga       reptil
Zorro       mamífero
Liberal      imbécil
Paloma           ave
Efelante    mamífero
dtype: object

# Data Frames

In [5]:
df = pd.read_csv('fifa-statistics.csv')
df

,Game,Group,Team,Opponent,Home/Away,Score,WDL,Pens?,Goals For,Goals Against,...,Passes Completed,Distance Covered km,Balls recovered,Tackles,Blocks,Clearances,Yellow cards,Red Cards,Second Yellow Card leading to Red Card,Fouls Committed
0,1,A,Russia,Saudi Arabia,home,5-0,W,NaN,5,0,...,240,118,53,9,3,19,1,0,0,22
1,1,A,Saudi Arabia,Russia,away,5-0,L,NaN,0,5,...,442,105,48,16,3,31,1,0,0,10
2,2,A,Egypt,Uruguay,home,0-1,L,NaN,0,1,...,308,112,57,12,4,32,2,0,0,12
3,2,A,Uruguay,Egypt,away,0-1,W,NaN,1,0,...,508,111,54,8,2,22,0,0,0,6
4,3,B,Morocco,IR Iran,home,0-1,L,NaN,0,1,...,371,101,38,9,1,16,1,0,0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,62,Semi-finals,England,Croatia,away,2-1,L,NaN,1,2,...,377,148,49,4,4,52,1,0,0,14
124,63,Play-off for third place,Belgium,England,home,2-0,W,NaN,2,0,...,450,108,34,4,3,27,1,0,0,11
125,63,Play-off for third place,England,Belgium,away,2-0,L,NaN,0,2,...,641,110,31,7,5,18,2,0,0,5
126,64,Final,France,Croatia,home,4-2,W,NaN,4,2,...,202,99,45,12,4,35,2,0,0,14
127,64,Final,Croatia,France,away,4-2,L,NaN,2,4,...,456,100,45,13,1,13,1,0,0,13

In [11]:
df.loc[0, 'Team'] # Trae de la columna "Team", de la fila cero
df.loc[0:11, 'Team']
df.iloc[0, [1]] #Trae de la columna número 1, de la fila cero
df.iloc[2]

Game                                            2
Group                                           A
Team                                        Egypt
Opponent                                  Uruguay
Home/Away                                    home
Score                                         0-1
WDL                                             L
Pens?                                         NaN
Goals For                                       0
Goals Against                                   1
Pen Shootout For                              NaN
Pen Shootout Against                          NaN
Attempts                                        8
On-Target                                       3
Off-Target                                      3
Blocked                                         2
Woodwork                                        0
Corners                                         0
Offsides                                        1
Ball possession %                              43
Pass Accuracy %                                78
Passes                                        395
Passes Completed                              308
Distance Covered km                           112
Balls recovered                                57
Tackles                                        12
Blocks                                          4
Clearances                                     32
Yellow cards                                    2
Red Cards                                       0
Second Yellow Card leading to Red Card          0
Fouls Committed                                12
Name: 2, dtype: object

# Análisis descriptivo de los datos

In [21]:
df.describe()
df.info()
df.shape
df.columns
df.head(4)
df.tail(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 32 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Game                                    128 non-null    int64
 1   Group                                   128 non-null    object
 2   Team                                    128 non-null    object
 3   Opponent                                128 non-null    object
 4   Home/Away                               128 non-null    object
 5   Score                                   128 non-null    object
 6   WDL                                     128 non-null    object
 7   Pens?                                   8 non-null      object
 8   Goals For                               128 non-null    int64
 9   Goals Against                           128 non-null    int64
 10  Pen Shootout For                        8 non-null      float64
 11  Pen Shootout Against                    8 non-null      float64
 12  Attempts                                128 non-null    int64
 13  On-Target                               128 non-null    int64
 14  Off-Target                              128 non-null    int64
 15  Blocked                                 128 non-null    int64
 16  Woodwork                                128 non-null    int64
 17  Corners                                 128 non-null    int64
 18  Offsides                                128 non-null    int64
 19  Ball possession %                       128 non-null    int64
 20  Pass Accuracy %                         128 non-null    int64
 21  Passes                                  128 non-null    int64
 22  Passes Completed                        128 non-null    int64
 23  Distance Covered km                     128 non-null    int64
 24  Balls recovered                         128 non-null    int64
 25  Tackles                                 128 non-null    int64
 26  Blocks                                  128 non-null    int64
 27  Clearances                              128 non-null    int64
 28  Yellow cards                            128 non-null    int64
 29  Red Cards                               128 non-null    int64
 30  Second Yellow Card leading to Red Card  128 non-null    int64
 31  Fouls Committed                         128 non-null    int64
dtypes: float64(2), int64(23), object(7)
memory usage: 32.1+ KB

,Game,Group,Team,Opponent,Home/Away,Score,WDL,Pens?,Goals For,Goals Against,...,Passes Completed,Distance Covered km,Balls recovered,Tackles,Blocks,Clearances,Yellow cards,Red Cards,Second Yellow Card leading to Red Card,Fouls Committed
124,63,Play-off for third place,Belgium,England,home,2-0,W,NaN,2,0,...,450,108,34,4,3,27,1,0,0,11
125,63,Play-off for third place,England,Belgium,away,2-0,L,NaN,0,2,...,641,110,31,7,5,18,2,0,0,5
126,64,Final,France,Croatia,home,4-2,W,NaN,4,2,...,202,99,45,12,4,35,2,0,0,14
127,64,Final,Croatia,France,away,4-2,L,NaN,2,4,...,456,100,45,13,1,13,1,0,0,13

In [23]:
df.Team.unique()

array(['Russia', 'Saudi Arabia', 'Egypt', 'Uruguay', 'Morocco', 'IR Iran',
       'Portugal', 'Spain', 'France', 'Australia', 'Argentina', 'Iceland',
       'Peru', 'Denmark', 'Croatia', 'Nigeria', 'Costa Rica', 'Serbia',
       'Germany', 'Mexico', 'Brazil', 'Switzerland', 'Sweden',
       'Korea Republic', 'Belgium', 'Panama', 'Tunisia', 'England',
       'Colombia', 'Japan', 'Poland', 'Senegal'], dtype=object)

In [24]:
df.Team.value_counts()

Belgium           7
England           7
France            7
Croatia           7
Uruguay           5
Sweden            5
Brazil            5
Russia            5
Mexico            4
Colombia          4
Switzerland       4
Spain             4
Japan             4
Argentina         4
Denmark           4
Portugal          4
Panama            3
Iceland           3
Saudi Arabia      3
Poland            3
Germany           3
Senegal           3
IR Iran           3
Tunisia           3
Australia         3
Egypt             3
Nigeria           3
Korea Republic    3
Morocco           3
Peru              3
Costa Rica        3
Serbia            3
Name: Team, dtype: int64

# ESTADÍSTICOS

In [34]:
df.mean()

# Percentiles

df["Distance Covered km"].quantile(0.10)
df.sort_values(by=["Distance Covered km"])

TypeError: sort_index() got an unexpected keyword argument 'by'

In [ ]:
# Apply